# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

### Step 4. Create columns for the dataset

In [57]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

### Step 5.  Is there any missing value in the dataframe?

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

### Step 7. Good, now lets substitute the NaN values to 1.0

### Step 8. Now let's delete the column class

### Step 9.  Set the first 3 rows as NaN

### Step 10.  Delete the rows that have NaN

### Step 11. Reset the index so it begins with 0 again

### BONUS: Create your own question and answer it.

In [1]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

# Step 2. Import the dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Step 3. Assign it to a variable called iris
iris = pd.read_csv(url, header=None)

# Step 4. Create columns for the dataset
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
print("\nDataset with columns:\n", iris.head())

# Step 5. Check for any missing values
print("\nMissing values in each column:\n", iris.isnull().sum())

# Step 6. Set rows 10 to 29 of the column 'petal_length' to NaN
iris.loc[10:29, 'petal_length'] = np.nan

# Step 7. Substitute NaN values in 'petal_length' with 1.0
iris['petal_length'].fillna(1.0, inplace=True)

# Step 8. Delete the column 'class'
iris.drop('class', axis=1, inplace=True)

# Step 9. Set the first 3 rows as NaN
iris.iloc[0:3] = np.nan

# Step 10. Delete the rows that have NaN
iris.dropna(inplace=True)

# Step 11. Reset the index so it begins with 0 again
iris.reset_index(drop=True, inplace=True)

# Final output
print("\nCleaned iris dataset:\n", iris.head())

# BONUS: What is the average sepal length and width after cleaning?
avg_sepal_length = iris['sepal_length'].mean()
avg_sepal_width = iris['sepal_width'].mean()
print(f"\nBONUS:\nAverage Sepal Length: {avg_sepal_length:.2f} cm")
print(f"Average Sepal Width: {avg_sepal_width:.2f} cm")

Dataset with columns:
    sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Missing values in each column:
 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

Cleaned iris dataset:
    sepal_length  sepal_width  petal_length  petal_width
0           4.6          3.1           1.5          0.2
1           5.0          3.6           1.4          0.2
2           5.4          3.9           1.7          0.4
3           4.6          3.4           1.4          0.3
4           5.0          3.4           1.5          0.2

BONUS:
Average Sepal Length: 5.86 cm
Average Sepal Width: 3.05 cm

C:\Users\USER\AppData\Local\Temp\ipykernel_13032\3834292467.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  iris['petal_length'].fillna(1.0, inplace=True)