# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv("student-mat.csv", sep=';')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
df_sliced = df.loc[:, 'school':'guardian']

### Step 5. Create a lambda function that will capitalize strings.

In [4]:
capitalize = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [7]:
print(df.columns.tolist())

['school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3']

In [ ]:
# Strip whitespace from column names (safe practice)
df.columns = df.columns.str.strip()

# Capitalize string values in Mjob and Fjob
df['Mjob'] = df['Mjob'].apply(lambda x: x.capitalize() if isinstance(x, str) else x)
df['Fjob'] = df['Fjob'].apply(lambda x: x.capitalize() if isinstance(x, str) else x)

### Step 7. Print the last elements of the data set.

In [9]:
print(df.tail())

    school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390  MS,M,20,U,LE3,A,2,2,services,services,course,o...
391  MS,M,17,U,LE3,T,3,1,services,services,course,m...
392  MS,M,21,R,GT3,T,1,1,other,other,course,other,1...
393  MS,M,18,R,LE3,T,3,2,services,other,course,moth...
394  MS,M,19,U,LE3,T,1,1,other,at_home,course,fathe...

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [ ]:
df['Mjob'] = df['Mjob'].apply(lambda x: x.capitalize())
df['Fjob'] = df['Fjob'].apply(lambda x: x.capitalize())

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [ ]:
def majority(age):
    return age > 17

df['legal_drinker'] = df['age'].apply(majority)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [12]:
df_numeric = df.select_dtypes(include='number') * 10