# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Create the DataFrame with the following values:

In [51]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

### Step 5. Present general statistics by company

### Step 6. What is the mean of each company's preTestScore?

### Step 7. Present the mean preTestScores grouped by regiment and company

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

### Step 9. Group the entire dataframe by regiment and company

### Step 10. What is the number of observations in each regiment and company

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [27]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Create the DataFrame with the following values
raw_data = {
    'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks',
                 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons',
                 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
    'company': ['1st', '1st', '2nd', '2nd', 
                '1st', '1st', '2nd', '2nd', 
                '1st', '1st', '2nd', '2nd'],
    'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 
             'Cooze', 'Jacon', 'Ryaner', 'Sone', 
             'Sloan', 'Piger', 'Riani', 'Ali'],
    'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
    'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]
}

# Step 3. Assign it to a variable called regiment
regiment = pd.DataFrame(raw_data)

# Step 4. What is the mean preTestScore from the regiment Nighthawks?
mean_pretest_nighthawks = regiment[regiment['regiment'] == 'Nighthawks']['preTestScore'].mean()
print("Mean preTestScore for Nighthawks:", mean_pretest_nighthawks)

# Step 5. Present general statistics by company
print("\nGeneral statistics by company:")
print(regiment.groupby('company').describe())

# Step 6. What is the mean of each company's preTestScore?
print("\nMean preTestScore by company:")
print(regiment.groupby('company')['preTestScore'].mean())

# Step 7. Present the mean preTestScores grouped by regiment and company
print("\nMean preTestScore grouped by regiment and company:")
print(regiment.groupby(['regiment', 'company'])['preTestScore'].mean())

# Step 8. Present the mean preTestScores grouped by regiment and company without hierarchical indexing
print("\nMean preTestScore grouped (no hierarchical index):")
print(regiment.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index())

# Step 9. Group the entire dataframe by regiment and company
grouped = regiment.groupby(['regiment', 'company'])

# Step 10. What is the number of observations in each regiment and company
print("\nNumber of observations in each group:")
print(grouped.size())

# Step 11. Iterate over a group and print the name and the whole data from the regiment
print("\nIterating over groups by regiment:")
for name, group in regiment.groupby('regiment'):
    print(f"\nRegiment: {name}")
    print(group)

Mean preTestScore for Nighthawks: 15.25

General statistics by company:
        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

Mean preTestScore by company:
company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

Mean preTestScore grouped by regiment and company:
regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

Mean preTestScore grouped (no hierarchical index):
     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

Number of observations in each group:
regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

Iterating over groups by regiment:

Regiment: Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

Regiment: Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62

Regiment: Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70