# Fictional Army - Filtering and Sorting

### Introduction:

This exercise was inspired by this [page](http://chrisalbon.com/python/)

Special thanks to: https://github.com/chrisalbon for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. This is the data given as a dictionary

In [4]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step 3. Create a dataframe and assign it to a variable called army. 

#### Don't forget to include the columns names in the order presented in the dictionary ('regiment', 'company', 'deaths'...) so that the column index order is consistent with the solutions. If omitted, pandas will order the columns alphabetically.

### Step 4. Set the 'origin' colum as the index of the dataframe

### Step 5. Print only the column veterans

### Step 6. Print the columns 'veterans' and 'deaths'

### Step 7. Print the name of all the columns.

### Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

### Step 9. Select the rows 3 to 7 and the columns 3 to 6

### Step 10. Select every row after the fourth row and all columns

### Step 11. Select every row up to the 4th row and all columns

### Step 12. Select the 3rd column up to the 7th column

### Step 13. Select rows where df.deaths is greater than 50

### Step 14. Select rows where df.deaths is greater than 500 or less than 50

### Step 15. Select all the regiments not named "Dragoons"

### Step 16. Select the rows called Texas and Arizona

### Step 17. Select the third cell in the row named Arizona

### Step 18. Select the third cell down in the column named deaths

In [1]:
# Step 1: Import necessary libraries
import pandas as pd

# Step 2: Create the raw data dictionary
raw_data = {
    'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
    'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
    'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
    'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
    'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
    'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
    'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
    'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
    'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
    'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']
}

# Step 3: Create DataFrame
army = pd.DataFrame(raw_data, columns=[
    'regiment', 'company', 'deaths', 'battles', 'size',
    'veterans', 'readiness', 'armored', 'deserters', 'origin'
])

In [2]:
# Step 4: Set 'origin' as index
army.set_index('origin', inplace=True)

# Step 5: Print only the 'veterans' column
print("Step 5: veterans column\n", army['veterans'])

# Step 6: Print 'veterans' and 'deaths'
print("\nStep 6: veterans and deaths columns\n", army[['veterans', 'deaths']])

# Step 7: Print names of all columns
print("\nStep 7: Column names\n", army.columns.tolist())

Step 5: veterans column
 origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

Step 6: veterans and deaths columns
             veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

Step 7: Column names
 ['regiment', 'company', 'deaths', 'battles', 'size', 'veterans', 'readiness', 'armored', 'deserters']

In [3]:
# Step 8: Select 'deaths', 'size', 'deserters' from Maine and Alaska
print("\nStep 8: Maine & Alaska (deaths, size, deserters)\n", army.loc[['Maine', 'Alaska'], ['deaths', 'size', 'deserters']])

# Step 9: Rows 3 to 7 and columns 3 to 6
print("\nStep 9: Rows 3-7, Columns 3-6\n", army.iloc[3:8, 3:7])

Step 8: Maine & Alaska (deaths, size, deserters)
         deaths  size  deserters
origin
Maine       43  1592          3
Alaska     523   987         24

Step 9: Rows 3-7, Columns 3-6
             battles  size  veterans  readiness
origin
Florida           2  1400        26          3
Maine             4  1592        73          2
Iowa              7  1006        37          1
Alaska            8   987       949          2
Washington        3   849        48          3

In [4]:
# Step 10: Every row after 4th and all columns
print("\nStep 10: Rows after the 4th\n", army.iloc[4:])

# Step 11: Every row up to 4th and all columns
print("\nStep 11: Rows up to 4th\n", army.iloc[:4])

# Step 12: Columns 3rd to 7th
print("\nStep 12: Columns 3rd to 7th\n", army.iloc[:, 2:7])

# Step 13: Rows where deaths > 50
print("\nStep 13: deaths > 50\n", army[army['deaths'] > 50])

Step 10: Rows after the 4th
             regiment company  deaths  battles  size  veterans  readiness  \
origin
Maine       Dragoons     1st      43        4  1592        73          2
Iowa        Dragoons     1st     234        7  1006        37          1
Alaska      Dragoons     2nd     523        8   987       949          2
Washington  Dragoons     2nd      62        3   849        48          3
Oregon        Scouts     1st      62        4   973        48          2
Wyoming       Scouts     1st      73        7  1005       435          1
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

Step 11: Rows up to 4th
               regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2

Step 12: Columns 3rd to 7th
             deaths  battles  size  veterans  readiness
origin
Arizona        523        5  1045         1          1
California      52       42   957         5          2
Texas           25        2  1099        62          3
Florida        616        2  1400        26          3
Maine           43        4  1592        73          2
Iowa           234        7  1006        37          1
Alaska         523        8   987       949          2
Washington      62        3   849        48          3
Oregon          62        4   973        48          2
Wyoming         73        7  1005       435          1
Louisana        37        8  1099        63          2
Georgia         35        9  1523       345          3

Step 13: deaths > 50
               regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Florida     Nighthawks     2nd     616        2  1400        26          3
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1

            armored  deserters
origin
Arizona           1          4
California        0         24
Florida           1          2
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3

In [5]:
# Step 14: deaths > 500 or < 50
print("\nStep 14: deaths > 500 or < 50\n", army[(army['deaths'] > 500) | (army['deaths'] < 50)])

# Step 15: All regiments not named "Dragoons"
print("\nStep 15: Regiments not 'Dragoons'\n", army[army['regiment'] != 'Dragoons'])

# Step 16: Rows for Texas and Arizona
print("\nStep 16: Texas and Arizona\n", army.loc[['Texas', 'Arizona']])

Step 14: deaths > 500 or < 50
             regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona   Nighthawks     1st     523        5  1045         1          1
Texas     Nighthawks     2nd      25        2  1099        62          3
Florida   Nighthawks     2nd     616        2  1400        26          3
Maine       Dragoons     1st      43        4  1592        73          2
Alaska      Dragoons     2nd     523        8   987       949          2
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

          armored  deserters
origin
Arizona         1          4
Texas           1         31
Florida         1          2
Maine           0          3
Alaska          0         24
Louisana        1          2
Georgia         1          3

Step 15: Regiments not 'Dragoons'
               regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1
Louisana        Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

Step 16: Texas and Arizona
            regiment company  deaths  battles  size  veterans  readiness  \
origin
Texas    Nighthawks     2nd      25        2  1099        62          3
Arizona  Nighthawks     1st     523        5  1045         1          1

         armored  deserters
origin
Texas          1         31
Arizona        1          4

In [6]:
# Step 17: 3rd cell in row named 'Arizona'
print("\nStep 17: 3rd cell in Arizona row\n", army.loc['Arizona'].iloc[2])

# Step 18: 3rd cell down in 'deaths' column
print("\nStep 18: 3rd cell in deaths column\n", army['deaths'].iloc[2])

Step 17: 3rd cell in Arizona row
 523

Step 18: 3rd cell in deaths column
 25