# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

### Step 5. What is the number of observations in the dataset?

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

### Step 17. How many different items are sold?

In [6]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

# Step 2. Import the dataset from this address
url = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv'

# Step 3. Assign it to a variable called chipo
chipo = pd.read_csv(url, sep='\t')

# Step 4. See the first 10 entries
print(chipo.head(10))

# Step 5. What is the number of observations in the dataset?
print("Number of observations:", chipo.shape[0])

# Step 6. What is the number of columns in the dataset?
print("Number of columns:", chipo.shape[1])

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
Number of observations: 4622
Number of columns: 5

In [7]:
# Step 7. Print the name of all the columns
print("Column names:", chipo.columns.tolist())

# Step 8. How is the dataset indexed?
print("Index info:", chipo.index)

# Step 9. Which was the most-ordered item?
most_ordered = chipo.groupby('item_name').sum(numeric_only=True).sort_values('quantity', ascending=False)
print("Most-ordered item:", most_ordered.head(1))

Column names: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
Index info: RangeIndex(start=0, stop=4622, step=1)
Most-ordered item:               order_id  quantity
item_name
Chicken Bowl    713926       761

In [4]:
# Step 10. For the most-ordered item, how many items were ordered?
print("Number of items ordered:", most_ordered.iloc[0]['quantity'])

# Step 11. What was the most ordered item in the choice_description column?
most_ordered_choice = chipo.groupby('choice_description').sum(numeric_only=True).sort_values('quantity', ascending=False)
print("Most ordered choice_description:", most_ordered_choice.head(1))

# Step 12. How many items were ordered in total?
print("Total items ordered:", chipo['quantity'].sum())

# Step 13.a. Check the item price type
print("Item price data type before:", chipo['item_price'].dtype)

# Step 13.b. Create a lambda function and change the type of item price
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

# Step 13.c. Check the item price type
print("Item price data type after:", chipo['item_price'].dtype)

Number of items ordered: 761
Most ordered choice_description:                     order_id  quantity
choice_description
[Diet Coke]           123455       159
Total items ordered: 4972
Item price data type before: object
Item price data type after: float64

In [5]:
# Step 14. How much was the revenue for the period in the dataset?
chipo['total_price'] = chipo['quantity'] * chipo['item_price']
print("Total revenue: $", chipo['total_price'].sum())

# Step 15. How many orders were made in the period?
print("Total orders:", chipo['order_id'].nunique())

# Step 16. What is the average revenue amount per order?
# Solution 1:
revenue_per_order = chipo.groupby('order_id')['total_price'].sum()
print("Average revenue per order: $", revenue_per_order.mean())

# Solution 2:
average_revenue = chipo['total_price'].sum() / chipo['order_id'].nunique()
print("Average revenue per order (method 2): $", average_revenue)

# Step 17. How many different items are sold?
print("Number of unique items sold:", chipo['item_name'].nunique())

Total revenue: $ 39237.02
Total orders: 1834
Average revenue per order: $ 21.39423118865867
Average revenue per order (method 2): $ 21.39423118865867
Number of unique items sold: 50